@import "./shared/ui/TableFactory/style.scss";
@import "./shared/ui/NavigationBar/style.scss";
@import "./styles/palette.scss";
@import "./pages/style.scss";

:root {
  --baseFontSize: 8px; /* 1rem */
  --baseFontFamily: sans-serif;
  --baseLineHeight: 1.5;
  --baseFontWeight: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 1 rem = 8px; */

html {
  font: var(--baseFontWeight) var(--baseFontSize) / var(--baseLineHeight)
    var(--baseFontFamily);
}